.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
  background-color: #232127;
  padding: 42px 5%;
}

.footer-logo {
  margin-bottom: 42px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.link-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.link-box strong {
  font-size: 14px;
  margin-bottom: 16px;
}

.link-box a {
  color: #bfbfbf;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 6px;
}

.link-box a:hover {
  color: #2acfcf;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  margin: 0px auto auto auto;
}

.footer-socials img {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 10px;
}

@media only screen and (min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 10%;
  }

  .footer-links {
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 62px 0 0px;
  }

  .link-box {
    margin-left: 32px;
  }

  .link-box {
    text-align: left;
  }
}
