.head {
  text-align: center;
  margin: 36px 5% 24px 5%;
}

.body-container {
  margin-top: 117px;
  background-color: #edeff1;
}

@media only screen and (min-width: 850px) {
  .head {
    text-align: center;
    margin: 48px 10% 64px 10%;
  }

  .body-container {
    margin-top: 101px;
  }
}
