.banner {
  background-color: #3b3054;
  background-image: url(../../images//bg-boost-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 74px 0;
}

.banner h2 {
  margin-top: 0px;
  color: whitesmoke;
  font-size: 28px;
  margin-bottom: 14px;
}

.banner button {
  color: white;
  background-color: #2acfcf;
  font-weight: 700;
  border-radius: 30px;
  font-size: 14px;
  padding: 16px 34px;
  border: none;
}

.banner button:hover {
  background-color: #9cdada;
}

@media only screen and (min-width: 650px) {
  .banner {
    background-image: url(../../images/bg-boost-desktop.svg);
  }

  .banner h2 {
    font-size: 38px;
    margin-bottom: 12px;
  }
}
